{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Patient registration{% endblock %}
{% block static %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">

{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="tagged">
    <img src="{%static 'images/logo-removebg-preview.png' %}" height="100px"><h3 class="tag">ORIUS<br>MEDICAL</h3>
  </div>
  <div class="title">
    Patient Registeration
  </div>
  <form action="" method="POST">{% csrf_token %}

      <div class="form">
         <div class="inputfield">
            <label>First Name</label>
            <input name="first_name" type="text" class="input">
         </div>  
         {{ form.errors.first_name }}
          <div class="inputfield">
            <label>Last Name</label>
            <input name="last_name" type="text" class="input">
         </div>  
         {{ form.errors.last_name }}
         <div class="inputfield">
            <label>Password</label>
            <input name="password1" type="password" class="input">
         </div>  
         {{ form.errors.password1 }}
        <div class="inputfield">
            <label>Confirm Password</label>
            <input name="password2" type="password" class="input">
         </div> 
         {{ form.errors.password2 }}
          <div class="inputfield">
            <label>Gender</label>
            <div class="custom_select">
              <select name="gender">
                  <option value="">Select</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
              </select>
            </div>
         </div> 
          <div class="inputfield">
            <label>Email Address</label>
            <input name="email" type="text" class="input">
         </div>
         {{ form.errors.email }}
         <div class="inputfield">
          <label>Age</label>
          <input name="age" type="number" class="input">
        </div> 
        {{ form.errors.age }}
        <div class="inputfield">
            <label>Phone Number</label>
            <input name="phone_number" type="text" class="input">
         </div> 
         {{ form.errors.phone_number }}
         <div class="inputfield">
          <label>Location</label>
          <input name="location" class="input" type="text" placeholder="Lagos NG"></input>
         </div>
         {{ form.errors.location }}
        <!--<div class="inputfield">
            <label>Postal Code</label>
            <input type="text" class="input">
         </div>-->
        <!--<div class="inputfield terms">
            <label class="check">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <p>Agreed to terms and conditions</p>
         </div> -->
        <div class="inputfield">
          <input type="submit" value="Register" class="btn">
        </div>
      </div>       

  </form>
  
</div>

{% endblock %}