{% extends 'base.html' %}
{% load static %}
{% block title %}Session List{% endblock %}

{% block content %}
    <section>
        <div class="container" style="align-items: center; justify-content: center;display: flex;">
            <div class="col-12 col-sm-6 col-md-4">
                <h3 style="align-items: center;justify-content: center;display: flex"> {{ request.user.first_name }} has {{ sessions.count }} Session/s</h3>
            </div>
        </div>
    </section>


    <section>

        <div class="container">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>

                </tr>
                </thead>
                <tbody>

                {% for session in sessions %}
                    <tr>
                        <td>{{ session.appointment.full_name }}</td>
                        <td> {{ session.date }}</td>
                        <td>{{ session.status }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}